/* Resets */
body, p, ul {
  margin: 0;
  padding: 0;
}

/** Core **/
body {
  font-family: Roboto, sans-serif;
}

/* Header */
header {
  background: #FFF;
}

header .mobile {
  display: none;
}

header .row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  min-height: 64px;
}

header .row-alt {
  background: #040138;
  color: #FFF;
  padding: 0 2rem;
}

header .logo-container {
  border-right: 1px solid #898989;
  padding: 0 1rem 0 2rem;
}

header nav {
  display: flex;
  flex-grow: 1;
  font-weight: 600;
}

header nav.primary {
  align-self: stretch;
}

header nav .dropdown {
  align-items: center;
  display: flex;
  font-size: 1.25rem;
  font-weight: 700;
  padding-right: 1rem;
}

header nav .dropdown > span {
  padding: 0 .5rem;
  font-size: .75rem;
}

header nav > ul {
  display: flex;
  list-style: none;
}

header nav > ul li {
  align-items: center;
  border-bottom: 4px solid transparent;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  min-height: 48px;
  padding: 0 1rem;
}

header nav.primary .active {
  border-color: #029FB4;
}

header nav.secondary .active {
  border-color: #029FB4;
}

header nav a {
  color: inherit;
  text-decoration: none;
}

header .account {
  align-items: center;
  display: flex;
  gap: 1rem;
  padding-right: 2rem;
}

/** Content **/
main {
  background: #F2F2F2;
  padding: 2rem;
}

main .content-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

main .content-header-buttons {
  align-items: center;
  display: flex;
  gap: .5rem;
}

/** Footer **/
footer {
  background: #FFF;
  box-sizing: border-box;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  min-height: 4rem;
  padding: 2rem;
}

footer nav > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
}

footer nav > ul li a {
  color: #646464;
  font-size: .875rem;
  text-decoration: none;
}

footer .copyright {
  font-size: .875rem;
}

/**
 * General / Components
 **/
h1 {
  font-size: 1.75rem;
  font-weight: 600;
}

button {
  align-items: center;
  background: transparent;
  border-radius: .5rem;
  border-color: transparent;
  cursor: pointer;
  display: inline-flex;
  gap: .25rem;
  justify-content: space-between;
  padding: .5rem .75rem;
}

button.primary {
  background: #040138;
  border-color: #040138;
  color: #FFF;
}

button.secondary {} /* No secondary buttons, here for consistency */

button.tertiary {
  background: transparent;
  border-color: transparent;
  color: #040138;
}

.logo-container {
  height: 1rem;
  width: 100px;
}

.menu-icon {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .25rem;
  height: 1.125rem;
  width: 1.125rem;
}

.menu-icon hr {
  background: black;
  border: none;
  height: 2px;
  margin: 0;
  width: 100%;
}

.account-badge {
  background: #D5D5D5;
  border-radius: .5rem;
  color: #171e31;
  font-weight: 700;
  padding: .625rem;
  position: relative;
}

.account-badge > div {
  align-items: center;
  background: #040138;
  border: 2px solid #FFF;
  border-radius: 9999px;
  color: #FFF;
  display: flex;
  font-size: .625rem;
  height: .875rem;
  justify-content: center;
  position: absolute;
  right: -.5rem;
  top: -.5rem;
  width: .875rem;
}


/**
 * Media queries to add a smidge of responsiveness.
 */
@media (max-width: 1024px) {
  /** Header **/
  header .mobile {
    align-items: center;
    display: flex;
    gap: 2rem;
    min-height: 64px;
    padding: 0 2rem;
  }

  header .row,
  header .row-alt {
    display: none;
  }

  header .logo-container {
    border: none;
    padding: 0;
  }

  /** Footer **/
  footer {
    align-items: center;
    flex-direction: column;
  }
}
